.blog-post-preview-large-link {
    color: @cc-black;
    .transition;

    &:hover {
        color: @cc-blue;

        .blog-post-preview-large-image {
            opacity: .8;
        }

        .blog-post-preview-large {
            background-color: @cc-pink;
        }
    }
}

.blog-post-preview-large {
    display: flex;
    background-color: @cc-post-preview-background;
    .transition;

    .blog-post-preview-large-image {
        .transition;
    }

    .left-side {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
    }

    .category-icon {
        font-size: 3rem;
    }

    .blog-post-preview-large-title {
        font-family: @alegreya;
        font-weight: 400;
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: .125em;
        text-align: center;
    }

    .blog-post-preview-large-date {
        font-family: @inconsolata;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: .143em;
        text-transform: uppercase;
    }
}

.featured-blog-post-previews {
    padding: 45px 0 0;
}

.blog-post-preview-link {
    background-color: @cc-post-preview-background;
    display: flex;
    flex-shrink: 1;
    flex-basis: 32%;
    flex-direction: column;
    color: @cc-black;
    margin-bottom: 40px;

    &:hover {
        color: @cc-blue;

        .blog-post-preview-image {
            opacity: .7;
        }
    }

    &:nth-child(3n+2) {
        margin-left: 2%;
        margin-right: 2%;
    }

    .blog-post-preview-image {
        width: 100%;
    }

    .blog-post-preview-title-wrapper {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;

        .category-icon {
            font-size: 1.6rem;
        }

        .blog-post-preview-title {
            font-family: @alegreya;
            font-size: 1.5rem;
            letter-spacing: .167em;
            font-weight: 400;
            text-align: center;
            line-height: 1.5;
            text-transform: uppercase;
            margin: 5px 0 0;
        }
    }
}

.blog-instagram-feed {
    background-color: @cc-pink;
    padding: 35px 0 40px;

    .instagram-flex-wrapper {
        display: flex;
        flex-direction: column;
    }

    .blog-instagram-feed-title {
        font-family: @alegreya;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: .15em;
        text-transform: uppercase;
        text-align: center;
    }

    .blog-instagram-feed-subtitle {
        font-family: @inconsolata;
        font-weight: 400;
        font-size: 1.7rem;
        text-align: center;
    }

    .instagram-slider {
        display: flex;
        justify-content: space-around;
    }
}

.post-preview-container {
    display: flex;
    flex-wrap: wrap;
}

.recent-posts {
    padding: 35px 0 45px;
}

.most-recent {
    background-color: @cc-pink;
    padding: 60px 0 0;

    .most-recent-title {
        font-family: @alegreya;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: .15em;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 40px;
    }
}

.single-post-container {
    display: flex;
    margin-top: 55px;
}

.connect-container {
    flex-grow: 1
}

.content {
    flex-grow: 4;
    margin-right: 10.5%;

    figure {
        margin: 0;
        width: 100%;

        img {
            width: 100%;
        }
    }
}

.social-sidebar {
    flex-grow: 2
}

.social-feed {
    display: flex;
    flex-direction: column;
    color: @cc-black;

    .social-feed-title {
        font-family: @alegreya;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .2em;
        margin: 0 0 10px;
        text-align: center;
    }

    .social-feed-subtitle {
        font-family: @inconsolata;
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0 0 30px;
        text-align: center;
    }

    .social-feed-gallery {
        display: flex;
        flex-wrap: wrap;

        .gallery-image {
            flex-shrink: 1;
            flex-basis: 47%;
            margin-bottom: 25px;

            &:nth-child(2n+1) {
                margin-right: 6%;
            }
        }
    }
}
