.footer-top {
    background-color: @cc-blue;
    padding: 36px 0 40px;

    @media (max-width: @mobile-lg) {
        padding: 25px;
    }

    .footer-top-container {
        max-width: 1260px;
        margin: auto;

        @media (max-width: 1024px) {
            max-width: 870px;
        }
    }

    .footer-top-heading {
        font-family: @buenard;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: .163rem;
        color: #fff;
        text-align: center;
        margin:0 0 40px;

        @media (max-width: @mobile-lg) {
            text-align: left;
        }
    }

    .footer-top-links-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @media (max-width: @mobile-lg) {
            flex-direction: column;

            li {
                padding-bottom: 15px;
            }
        }
    }

    .footer-top-link-wrapper {

        @media (max-width: @tablet) {
            flex-basis: 33%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 15px;
        }

        @media (max-width: @mobile-lg) {
            justify-content: flex-start;
        }
    }

    .footer-top-link {
        font-family: @buenard;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .14rem;
        display: flex;
        align-items: center;

        @media (max-width: 1024px) {
            font-size: 1.1rem;
        }

        i {
            opacity: .5;
            font-size: 2rem;
            margin-right: 15px;
        }
    }
}
///////////////END FOOTER TOP


.footer-nav {
    padding: 30px 0;
    background-color: #F5F0EB;

    @media (max-width: @mobile-lg) {
        padding: 0;
    }

    .footer-nav-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: @tablet-lg) {
            justify-content: space-around;
        }

        @media (max-width: @mobile-lg) {
            flex-direction: column;
        }
    }

    .footer-nav-title {
        font-family: @alegreya;
        font-size: 1.6rem;
        color: @cc-black;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0 0 10px;

        @media (max-width: @mobile-lg) {
            margin-bottom: 0;
            padding: 13px 10px 13px 20px;
        }
    }

    .link-list-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        @media (max-width: @tablet-lg) {
            flex-grow: 0
        }

        @media (max-width: @mobile-lg) {
            border-bottom: 1px solid @cc-black;
        }

    }


    .link-list {

        li {
            margin: 5px 0;
        }


        @media (max-width: @mobile-lg) {
            padding-left: 20px;
        }
    }

    .footer-nav-link {
        font-family: @roboto;
        font-size: 1.4rem;
        font-weight: 300;
        color: @cc-black;
    }

    .inner-link-list {
        padding-left: 15px;
        list-style: disc;
    }

    .subscribe-block {
        flex-grow: 3;
        text-align: center;

        @media (max-width: 1024px) {
            flex-basis: 100%;
            display: flex;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: @mobile-lg) {
            background-color: #fff;
        }
    }

    .social-media-links {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;

        .social-media-link-wrapper {
            padding-right: 15px;
            margin-top: 20px;

            @media (max-width: 1024px) {
                margin-top: 0;
            }
        }

        .social-media-link {
            color: @cc-blue;
        }
    }
}

//////////////END FOOTER NAV
.footer-bottom {
    padding: 15px 0;
    background-color: #fff;

    .footer-bottom-links-wrapper {
        display: flex;

        @media (max-width: @mobile-lg) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    .footer-bottom-link {
        font-family: @roboto;
        font-weight: 300;
        color: @cc-black;
        text-transform: uppercase;
        font-size: 1.2rem;

        &:not(:last-of-type) {
            padding-right: 15px;
        }

    }

    .copyright {
        .footer-bottom-link;
        margin-left: auto;

        @media (max-width: @mobile-lg) {
            flex-basis: 100%;
            text-align: center;
            margin-top: 30px;
        }
    }
}
