/* COLORS */
@cc-icon-gray: #9b9b9b;
@cc-light-gray: #edf0f2;
@cc-gray: #c2ccd3;
@cc-dark-gray: #4c4d49;
@cc-blue: #2D19B4;
@cc-black: #282823;
@cc-pink: #F5DCD2;
@cc-off-white: #F5F0EB;
@cc-post-preview-background: @cc-off-white;
@cc-purple: #978DD9;
@cc-text-gray: #4a4a4a;
@cc-border-gray: #929290;

@button-cta-border-color: @cc-blue;
@button-cta-font-color: @button-cta-border-color;
@cta-link-font-color: @button-cta-border-color;
@cta-link-font-color-hover: #211F1F;


@mobile: 480px;
@mobile-lg: 600px;
@tablet: 768px;
@tablet-lg: 1024px;
@desktop-sm: 1290px;
@random_menu_breakpoint: 1110px;
@random_header_breakpoint: 1150px;
